<section>
  <div class="container ">
    <h1 class="text-main text-center my-2">ForgotPassword</h1>
    @if (step == 1) {
      <form [formGroup]="emailForm" (ngSubmit)="sendEmail()" class="bg-main-light shadow p-2 my-5 rounded-4" >
        <div class="my-2">
          <label for="email">Email</label>
          <input formControlName="email" type="email" class="form-control" id="email" />
        </div>
        <button [disabled]="emailForm.invalid" class="btn-main" >Verify Email </button>
      </form>
    }@else if (step == 2) {
      <form [formGroup]="codeForm" (ngSubmit)="sendCode()" class="bg-main-light shadow p-2 my-5 rounded-4">
        <div class="my-2">
          <label for="code">
            Code
          </label>
          <input formControlName="resetCode" type="text" class="form-control" id="code" />
        </div>
        <button [disabled]="codeForm.invalid" class="btn-main">Verify Code </button>
      </form>
    }@else if(step == 3) {
      <form [formGroup]="newPasswordForm" (ngSubmit)="sendNewPassword()" class="bg-main-light shadow p-2 my-5 rounded-4">
        <div class="my-2">
          <label for="email">Email</label>
          <input readonly formControlName="email" type="email" class="form-control" id="email" />
        </div>
        <div class="my-2">
          <label for="newPassword">NewPassword</label>
          <input formControlName="newPassword" type="password" class="form-control" id="newPassword" />
        </div>
        <button [disabled]="newPasswordForm.invalid" class="btn-main">Verify Email And New Password </button>
      </form>
    }
  </div>
</section>
