<section class="my-5 pt-5">
  <div class="row">
      @for (product of productsWishlist; track product.id) {
        <div class="col-md-3 mt-2">
          <div class="product p-2">
            <div>
              <img [src]="product.imageCover" class="w-100" [alt]="product.title">
              <h4 class="text-main small">{{product.category.name}}</h4>
              <h3 class="h6">{{product.title.split(" ", 2).join("")}}</h3>
              <div class="d-flex justify-content-between align-items-center">
                <span>{{product.price | currency:"GBP"}}</span>
                <div>
                  @for (num of [1,2,3]; track $index) {
                  <span><i class="fas fa-star rating-color "></i></span>

                  }
                  <span class="text-muted">{{product.ratingsAverage}}</span>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <i (click)="removeProductWishlist(product.id)" class="fa-solid fa-trash text-black fa-2x"></i>
              <button (click)="addProductCart(product.id)" class="btn-main ">Add Cart</button>
            </div>
          </div>
        </div>
      }@empty {
        <h4 class="text-danger text-center">No products in your wishlist</h4>
      }
  </div>
</section>
