<section class="my-5  pt-5">

    <h2 class="text-main">Popular Products:</h2>
    <div class="my-3">
      <input type="search" class="form-control" placeholder=" Enter to Search" [(ngModel)]="searchTerm">
    </div>
    <div class="row">

      @for (product of productList| search:searchTerm(); track
      product.id) {
      <div class="col-md-2 mt-2">
        <div class="product p-2">
          <span (click)="addToWishlist(product.id)"  class="cursor-pointer d-flex justify-content-end my-2">
      <i [ngStyle]="{'color': product.isFavorite ? '#09c' : 'red'}" (click)="(toggleFavorite(product))"
        class="fa-solid fa-heart  fa-2x"></i>
          </span>

          <div [routerLink]="['/details',product.id]">
            <img [src]="product.imageCover" [alt]="product.title" class="w-100">
            <h4 class="text-main small">{{product.category.name}}</h4>
            <h3 class="h6">{{product.title| termText:2}}</h3>
            <div class="d-flex  flex-column">
              <span>{{product.price| currency:"GBP"}}</span>
              <div>
                @for (num of [1,2,3,4,5]; track $index) {
                <span><i class="fas fa-star rating-color"></i></span>
                }
                <span class="text-muted">{{product.ratingsAverage}}</span>
              </div>
            </div>
          </div>
          <button (click)="addProductCart(product.id)" class="btn-main w-100">
              <i class="fa-solid fa-cart-shopping "></i>
            Add To Cart </button>
        </div>
      </div>
      }
    </div>
</section>
 
